<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello ' + ${user.firstName} + ' ' + ${user.lastName} + '!'" />
</form>
<p><a th:href="@{/reservation}">My reservations</a></p>
</body>
<body>
<p align="center">

</p>
</body>
<head>
    <meta charset="utf-8">
    <title>Календарь</title>
</head>
<body>
<form th:action="@{/main}" method="post">
    <p align="center">
    <input type="date" name="calendar"
           max="2030-01-01" data-th-attr="min=${minDate},max=${maxDate}">
    <select id="time" name="time">
        <option selected value="06-00">06-00</option>
        <option value="07-00">07-00</option>
        <option value="08-00">08-00</option>
        <option value="09-00">09-00</option>
        <option value="10-00">10-00</option>
        <option value="11-00">11-00</option>
        <option value="12-00">12-00</option>
        <option value="13-00">13-00</option>
        <option value="14-00">14-00</option>
        <option value="15-00">15-00</option>
        <option value="16-00">16-00</option>
        <option value="17-00">17-00</option>
        <option value="18-00">18-00</option>
        <option value="19-00">19-00</option>
        <option value="20-00">20-00</option>
        <option value="21-00">21-00</option>
    </select>
    <input type="submit" value="Save">
    </p>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>